/* a { text-decoration: none; color:blue; }
a:visited { text-decoration: none; } */

/* <link rel="stylesheet" href="/static/app.css"> */
a {
    color: blue;
  }
a:active {
    color: purple;
  }
body {
    background-color: rgb(172, 142, 103);
}